In [4]:
#import all the libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import sqlite3
%matplotlib inline

### Gross Box Office

In [5]:
movie_gross = pd.read_csv("../zippedData/bom.movie_gross.csv")
movie_gross.head()
#Domestic Gross and Foreign Gross are hard to read, because numbers are very large, we should adjust the values
#probably by making new columns as domestic_gross_mil and foreign_gross_mil

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [6]:
clean_df = movie_gross['title'].map(lambda x: x.lower())
clean_df.head()

0                                    toy story 3
1                     alice in wonderland (2010)
2    harry potter and the deathly hallows part 1
3                                      inception
4                            shrek forever after
Name: title, dtype: object

In [7]:
clean_df = movie_gross['title'].apply(lambda x: x.strip())
clean_df.head()

0                                    Toy Story 3
1                     Alice in Wonderland (2010)
2    Harry Potter and the Deathly Hallows Part 1
3                                      Inception
4                            Shrek Forever After
Name: title, dtype: object

### The Movies DB